{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>FORMATIONS</title>
    <link rel="stylesheet" href="{% static 'main/style.css'%}">
</head>
<body>
<div class="centered">
    <img src="{%static 'main/images/mai_logo.png'%}">
    <a href="{%url 'menu:index'%}">voir les formations</a>
    <p style="color:red">Besoin d'une formation qui se figure pas dans la liste?</p>
    <p style="color:red">Contacter moi pour en acquerir d'autres au <strong style="color:blue">70436043</strong></p>


</div>
</body>
</html>