{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMATIONS</title>
    <link rel="stylesheet" href="{% static 'main/style.css'%}">
</head>
<body>
<div class="centered">
    <img src="{%static 'main/images/mai_logo.png'%}">
    <a href="{%url 'menu:index'%}">voir les formations</a>
    <div class="para">
    <p style="color:green;font-weight:bold;">Besoin d'une formation qui se figure pas dans la liste?</p>
    <p style="color:green;font-weight:bold;">Contacter moi pour en acquerir d'autres au <a style="display:inline;hover;" href="tel:22870436043">70436043</a></p>
    </div>


</div>
</body>
</html>